<mat-dialog-content>
 <form [formGroup]="form" (submit)="onUpdatePost()">
    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="title"
        placeholder="title"
      />
      <mat-error *ngIf="form.get('title')?.invalid">Please select a valid title</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
          type="text"
          matInput
          formControlName="content"
          placeholder="enter content"
      ></textarea>
      <mat-error *ngIf="form.get('content')?.invalid">Please valid content</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
          type="author"
          matInput
          formControlName="content"
          placeholder="enter the author"
      ></textarea>
      <mat-error *ngIf="form.get('author')?.invalid">Please valid content</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>
